<h2>Países</h2>
<hr>

<ul class="list-group">
  <!-- <li routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}"
   class="list-group-item">
    Pagina
</li>
  <li routerLink="acerca"
    routerLinkActive="active"
    class="list-group-item">
    Acerca
  </li>
  <li routerLink="contacto"
    routerLinkActive="active"
    class="list-group-item">
    Contacto
  </li> -->
  <li routerLink="paises/por-capital"
  routerLinkActive="active"
  class="list-group-item">
  Por capital
  </li>
  <li routerLink="paises/por-pais"
  routerLinkActive="active"
  class="list-group-item">
  Por Pais
  </li>
  <li routerLink="paises/por-region"
  routerLinkActive="active"
  class="list-group-item">
  Por region
  </li>
 </ul>
